* {
    box-sizing: border-box;
}

nav a {
    width: 10%; 
}

nav {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: 1rem
}

body {
    background-color: white;
    font-family: 'aktiv-grotesk';
    margin: 0;
    padding: 0;
    text-align: center;
}

img {
    max-width: 100%;
    display: block;
}

.container {
    padding-top: 5%;
    text-align: left;
    width: 100%;
    margin: 0;
    line-height: 1.1;
    padding-left: 5vw;
}

.small-text {
    font-size: 5vw; /* Past zich aan de schermbreedte aan */
    font-weight: lighter;
    margin: 0;
    line-height: 1.1;
}

.large-text {
    font-size: 3rem; 
    font-style: italic;
    margin: 0;
}

.inleiding {
    text-align: center;
    font-size: 1.7em;
    line-height: 1.3;
    padding-top: 20%;
    margin-bottom: -3%;
}

.leesmeer {
    background-color: #f3ad3c;
    font-style: italic;
    color: white;
    text-align: center;
    font-size: 2em;
    border-radius: 20px;
    text-decoration: none;
    padding: 0.25rem 1rem 0.25rem 1rem;
    display: inline-block;
    margin-bottom: 1rem;
}

.icoon_illustratie_vuilbak {
    padding-top: 10%;
    width: 100%;
    margin: 0 auto;
}


.spelregels {
    padding-top: 10%;
    text-align: left;
    margin-left: 5%;
    margin-right: 5%;
    line-height: 1.1;
}

li::marker {
    color: #f3ad3c;
  }

.navigatiescherm a{
    color: white;
    font-size: 1.5rem;
    text-decoration: underline dotted white;
}

.navigatiescherm{
    padding-top: 60%;
}

.page2 {
    background-color: #212120;
}

.titelafvalcontrole{
    padding-left: 3%;
    font-size: 3rem;
    line-height: 1.1;
    text-align: left;
}

.introafvalcontrole{
    padding: 20%;
    padding-top: 10%;
    line-height: 1.2rem;
}

.controle{
    background-color: #f3ad3c;
}